.btn {
    padding: .75rem 1.5rem;
    background-color: var(--color-secondary);
    border: none;
    font-size: 1rem;
    border-radius: 100px;
}

.icon {
    height: 25px;
    width: 25px;
    fill: var(--color-background);
}