* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Comic Neue', cursive;
}

:root {
    --color-background: #EAEAEA;
    --color-dark-gray: #252A34;
    --color-light-gray: #DBE2EF;
    --color-light-gray-2: #AFB9C8;
    --color-secondary: #08D9D6;
    --color-primary: #FF2E63;
}

.container {
    width: 1200px;
    margin: 0 2rem;
    overflow-x: auto;
}

.btn {
    padding: .75rem 1.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 100px;
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-background);
}