* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Comic Neue', cursive;
}

:root {
    --color-background: #EAEAEA;
    --color-dark-gray: #252A34;
    --color-light-gray: #DBE2EF;
    --color-light-gray-2: #AFB9C8;
    --color-secondary: #08D9D6;
    --color-secondary-dark: #00B8A9;
    --color-primary: #FF2E63;
    --color-primary-dark: #D72323;
}

.container {
    width: 1200px;
    margin: 0 2rem;
    overflow-x: auto;
}

.ml-sm {
    margin-left: 1rem
}